:root {
  --color-primary: #2563eb;
  --color-bg: #f3f4f6; /*fondo*/
  --color-card: #ffffff; /*tarjetas*/
  --color-text: #1f2937; /*texto*/
  --color-danger: #ef4444; /*ofertas o sin stock*/
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding-bottom: 4rem;
}
.category-filter {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 15px;
  margin-bottom: 20px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.category-filter::-webkit-scrollbar {
  display: none;
}

.category-btn {
  background: white;
  border: 1px solid #ddd;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 0.95rem;
  color: var(--color-text);
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s;
  font-weight: 500;
}

.category-btn:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.category-btn.active {
  background-color: var(--color-primary);
  color: white;
  border-color: var(--color-primary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 640px) {
  .grid-products {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 6rem;
  }
  .container {
    padding: 10px;
  }
}
